@using OdinEye.Core.Utilities
@inherits LayoutComponentBase
@inject TooltipService TooltipService

<RadzenComponents @rendermode="InteractiveServer" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Style="width: 100%">
                <RadzenText TextStyle="TextStyle.H5" class="rz-m-0" MouseEnter="@(args => ShowVersionToolTip(args))">OdinEye</RadzenText>
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceEvenly" Gap="1rem" class="rz-mr-4">
                    <TopBar />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Responsive="false" Style="@(sidebarExpanded ? "width: 180px" : "width: max-content")">
        <RadzenPanelMenu DisplayStyle="@(sidebarExpanded ? MenuItemDisplayStyle.IconAndText : MenuItemDisplayStyle.Icon)" ShowArrow="false">
            <NavMenu />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4" style="height: 100%;">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    bool sidebarExpanded = false;

    private void ShowVersionToolTip(ElementReference element)
    {
        TooltipService.Open(element, RuntimeUtil.Version);
    }
}