@using LumiSky.Core.Utilities
@inherits LayoutComponentBase
@inject IHostEnvironment HostEnvironment

<RadzenComponents @rendermode="InteractiveServer" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" Style="width: 100%">

                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                    <RadzenImage Path="@Assets["img/lumisky.svg"]" Style="width: 32px;" AlternateText="logo" class="rz-m-1" />
                    <RadzenText TextStyle="TextStyle.H5" class="rz-mb-0 rz-ml-2">LumiSky</RadzenText>
                </RadzenStack>

                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceEvenly" Gap="1rem" class="rz-mr-4">
                    <TopBar />
                </RadzenStack>

            </RadzenStack>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Responsive="false" Style="@(sidebarExpanded ? "width: 180px;" : "width: max-content;")">
        <RadzenPanelMenu DisplayStyle="@(sidebarExpanded ? MenuItemDisplayStyle.IconAndText : MenuItemDisplayStyle.Icon)" ShowArrow="false">
            <NavMenu />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div style="height: 100%;">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

<div id="blazor-error-ui" data-nosnippet>
    @if (HostEnvironment.IsProduction())
    {
        <span>An error has occurred.</span>
    }
    else
    {
        <span>An unhandled exception occurred.</span>
    }
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool sidebarExpanded = false;
}