<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <RadzenTheme Theme="standard-dark" @rendermode="PageRenderMode" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <ImportMap ImportMapDefinition="@importMapDefinition" />
    <HeadOutlet @rendermode="PageRenderMode" />
</head>

<body>
    <Routes @rendermode="PageRenderMode" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>

</html>

@code {
    private ImportMapDefinition? importMapDefinition = new(
        new Dictionary<string, string>
        {
            ["three"] = "/lib/three/build/three.module.min.js",
            ["@photo-sphere-viewer/core"] = "/lib/photo-sphere-viewer/core/index.module.js",
            ["@photo-sphere-viewer/video-plugin"] = "/lib/photo-sphere-viewer/video-plugin/index.module.js",
            ["@photo-sphere-viewer/equirectangular-video-adapter"] = "/lib/photo-sphere-viewer/equirectangular-video-adapter/index.module.js",
        },
        null,
        null
    );

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;
}
