<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @* <link rel="stylesheet" href="@Assets["app.css"]" /> *@
    <link rel="stylesheet" href="app.css" />
    <RadzenTheme Theme="standard-dark" @rendermode="InteractiveServer" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script type="importmap">
    {
        "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three/build/three.module.js",
            "@@photo-sphere-viewer/core": "https://cdn.jsdelivr.net/npm/@@photo-sphere-viewer/core/index.module.js"
        }
    }
    </script>
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>

</html>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    // private IComponentRenderMode? PageRenderMode =>
    //     HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;
}
